{% extends "layout.html" %}
{% block content %}
    <h2>Study Space Database</h2>

    <h3>Sign <a href="{{ url_for('sign') }}">here</a></h3>
    <h3>Entries</h3>
    
    <table class="table">
            <thead>
            <tr>
              <td>Bldg Name</td>
              <td>Bldg Code</td>
              <td>Floor  </td>
              <td>Closest Room</td>
              <td>Rating(1-5)</td>
              <td>Edit </td>
              </tr>
            </thead>
            </table>              
    {% for entry in entries %}
        <p class=entry>
            <table class="table">
            <thead>
            <tr>
              <td>{{ entry.name }}</td>
              <td>{{ entry.code }}</td>
              <td>{{ entry.floor }}</td>
              <td>{{ entry.room }}</td>
              <td>{{ entry.rating }}</td>
           <!--   <td> <form action="{{ url_for('remove'), name={{ entry.name }}, code={{ entry.code }}, floor={{ entry.floor }}, room={{ entry.room }}, rating={{ entry.rating }} }}" method=post> <input type=submit value=delete></form> </td> -->
            </tr>
            </thead>
            </table>
       <!--     Bldg Name:{{ entry.name }} &lt;Bldg Code:{{ entry.code }}&gt;&lt{{ entry.floor }}&gt;
            &lt{{ entry.room }}&gt;&lt{{ entry.rating }}&gt; -->
        </p>
    {% endfor %}

{% endblock %}